# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Date Run.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\My\UnityProject\Date Run\.idea\.idea.Date Run\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
